* {
 font-family: monospace !important;
}
body {
 background: #111;
 color: #fff;
 zoom: 2;
}
#empty-space {
 margin: 15px auto;
 min-height: 15px;
}
#find-number {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 15px auto;
}
#numbers, tbody, tr, td {
 border: 1px solid #aaa;
 border-collapse: collapse;
}
#numbers {
 width: 150px;
 height: 150px;
 margin: 0 auto;
}
#numbers td {
 text-align: center;
 font-size: x-large;
 width: 25px;
 height: 25px;
}
#numbers td:hover {
 background: #222;
 cursor: pointer;
}
#button-container {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px;
}
#hide-button {
 color: #fff;
 background: transparent;
 border: none;
 box-shadow: 0 0 8px rgba(255,255,255,.5);
 border-radius: 8px;
 padding: 2px 8px;
}